body {
    background-color: white;
    color: black;
    font-family: 'euro35', sans-serif;
    font-weight: 800;
    font-size: 1em;
    width: 100%;
    /*height: auto;*/
}

@font-face {
    font-family: 'euro35';
    src: url(../fonts/eurof35.ttf);
}

section {

    margin: 0 auto;
    font-size: 1em;

}

/*----------------------------BANNER----------------------------------------*/

.banner {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    z-index: 100;
}

.div-empty {
    order: 1;
    flex-grow: 2;
}

.div-title {
    order: 2;
    flex-grow: 1;
    align-self: center;
}

.title1, .subtitle {
    transform: rotate(-10deg);
    margin: 0;
    font-weight: 800;
}

.title1 {
    font-size: 400%;
    background: rgba(20, 200, 255, 0.4);
}

.subtitle {
    font-family: 'Open Sans', serif;
    font-size: 150%;
    background: black;
    color: white;
}

.moving-objects {
    position: absolute;
    z-index: -1;
}

#moving-object-vinyl {
    width: 40%;
    height: auto;
    transform: rotate(-230deg);;
}

#moving-object-vinyl2 {
    width: 7%;
    height: auto;
}

#moving-object-sfinks {
    width: 50%;
    height: auto;
    transform: rotate(-10deg);
}

#moving-object-zuraw {
    transform: rotate(-20deg);
}

#moving-object-gradient {
    transform: rotate(-10deg);
}

.arrow {
    position: absolute;
    width: 5%;
    height: 8%;
    top: 92%;
    display: block;
    bottom: 3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 101;
    float: none;
    transform: rotate(90deg);
    color: white;
    filter: invert(1);

}

/*----------------------------NAVI----------------------------------------*/
.nav {

    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 99;

}

.menu {
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

ul {
    text-decoration: none;
}

ul a {
    color: black;
    text-decoration: none;

}

ul > li {
    list-style-type: none;
    float: left;
    width: 20%;
    font-size: 2.625em;

}

ul > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

ul > li:hover > a {
    color: black;
}

.highlight {
    background-color: rgba(20, 200, 255, 0.8);
}

/*----------------------------OFFER----------------------------------------*/

.offers {
    width: 100%;
    display: flex;

}

.container1, .container2 {
    float: left;
    width: 50%;
    padding: 2%;

}

.offer-title {
    width: 100%;
    font-size: 5em;
    text-align: right;
    float: right;
    padding-top: 3%;

}

.offer-title span {
    font-size: 2em;
}

.offer-text, .offer-text2 {
    font-size: 2.75em;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    text-align: right;
    padding-bottom: 4%;
}

.offer-text2 {
    text-align: left;
}

/*----------------------------SLIDE-SHOW----------------------------------------*/
.slider-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;

}

.slider-item {
    width: 100%;
    display: flex;
    align-items: center;

}

#prevLink {
    order: 1;
}

#nextLink {
    order: 3;
}

.prevBtn {

    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 40%

}

.nextBtn {

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 40%
}

.img-responsive {
    order: 2;

}

.slider-item-mini {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mini-photo {
    padding: 0 0.5% 0 0.5%;
    opacity: 0.5;
    transition-duration: 1s;

}

.mini-photo:hover {
    opacity: 1;
    transform: scale(2);
    -webkit-transform: scale(2);
}

/*----------------------------ZAPISZ-SIE----------------------------------------*/
.subscription {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 0;
    background: url("../images/bg-formular.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-container-form {
    width: 87%;
    border: 20px solid #000000;
    margin: 5% 6%;
}

.content-container-form p:nth-child(1) {
    font-size: 7em;
    text-transform: uppercase;
    padding-top: 3%;
}

.content-container-form p:nth-child(2) {
    font-size: 3.5em;
    text-transform: uppercase;
    padding-bottom: 2%;

}
.game-span{
    color: #ffffff;
}
.form-input, .button-send {
    font-size: 2em;
    width: 37%;
    height: 2em;
    text-align: center;
    border: none;

}

.button-send {

    color: #14C8FF;
    margin-top: 0.5%;
    background-color: #000000;
    text-transform: uppercase;
}

.button-send:hover {
    color: #000000;
    background-color: #ffffff;
}

.content-container-form p:last-of-type {
    font-size: 1.5em;
    padding-bottom: 3%;
}

/*video#bgvid2 {*/
/*display: flex;*/
/*position: relative;*/
/*top: 50%;*/
/*left: 50%;*/
/*transform: translate(-50%, -50%);*/
/*min-width: 100%;*/
/*min-height: 100%;*/
/*width: auto;*/
/*height: auto;*/
/*z-index: -100;*/
/*background-size: cover;*/

/*}*/

/*----------------------------GAME----------------------------------------*/

.main-game-container {
    width: 100%;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 0;
    display: none;

}

.game-class {
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 20px solid black;
    margin: 5% 6% 5% 8%;
    background: url("../images/moving-objects/moving-object-gradient-2-1000.png") no-repeat center;

}

.game-class > p {

    font-size: 3.5em;
    color: #000000;
    text-transform: uppercase;
    padding-top: 2%;
}

.game-class p:nth-child(2n) {
    padding-bottom: 2%;
}

.main-game-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-game-1, .item-game-2, .item-game-3 {
    background-color: white;
    background-image: url(../images/game/background-game-100x300px.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    width: 20%;
    height: 160px;
    border: 10px solid #000000;
    margin-right: 1%;
    margin-left: 1%;
}

.button-start {

    width: 20%;
    font-size: 3em;
    text-align: center;
    margin: 3% auto 3% auto;
    background-color: black;
    border: none;
    color: rgb(20, 210, 255);
}

#wynik {

    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #ff0000;

}

/*----------------------------ONAS----------------------------------------*/
.o-nas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9% 8%;
    text-align: center;

}

.about-us-set {
    width: 24%;
    float: left;
    display: inline-block;
    margin: 5% 0.5%;
    font-size: 2em;

}

.o-nas-container span {
    font-size: 8em;
}

.p-author-name {
    font-size: 2em;
    font-weight: bold;

}

.p-author-slogan {
    font-family: 'Open Sans', serif;
    font-weight: 100;
    font-size: 1em
}

/*----------------------------FOOTER----------------------------------------*/

footer {
    width: 100%;
    display: flex;
    background: url("../images/footer-background.png") no-repeat;
    background-size: cover;

}

footer p {
    font-size: 2em;
    padding-top: 1%;
    padding-left: 45%;

}

footer > a {
    display: inline-block;
    padding: 1%;
    color: #000000;
    font-size: 2.5em;

}

footer a:first-of-type {
    padding-left: 28%;
}

footer > a:hover {
    background-color: rgba(20, 200, 255, 0.8);

}





