.div-container-slider {
    background-color: white;
    color: black;
    overflow-x: hidden;
    width: auto;
    height: 100vh;

}


.slideContainer {
    position: relative;
    text-align: center;

}
.prevBtn {
    transform: rotate(90deg);
    width: 5%;
    position: absolute;
    left: 5%;
    top: 50%;
}

.nextBtn {
    transform: rotate(-90deg);
    width: 5%;
    position: absolute;
    right: 5%;
    top: 50%;
}

.container-mini-photo{
    position: absolute;
    bottom: 2%;
    width: 100%;

}
.mini-photo {
    width: 10%;
    height: 10%;
    opacity: 0.5;
    /*z-index:100;*/
    /*position: relative;*/

}
.mini-photo:hover{
    opacity: 1;
    width: 12%;
    height: 12%;
    transition: width 0.5s;
    transform-origin: 15% 15%;
    /*z-index: 150;*/
    /*position: absolute;*/
}

.img-responsive {
    max-width: 1200px;
    max-height: 780px;
}
.SlideShow {
    padding-top: 30px;
}