.slider-container {
    background-color: white;
    color: black;
    /*height: 20%;*/
    /*height: 1300px;*/
    position: relative;
    text-align: center;
}

.prevBtn {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 5%;
    position: absolute;
    left: 5%;
    top: 33%;
}

.nextBtn {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 5%;
    position: absolute;
    right: 5%;
    top: 33%;
}
.slider-item {
    /*position: absolute;*/
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;

}
.img-responsive {
    width:60%;
    display: inline-block;
}

.slider-item-mini {
    position: relative;
    padding-top: 3%;
    width: 100%;

}
.mini-photo {
    height: 10%;
    opacity: 0.5;
    position:relative;
    z-index: 98;
    transition-duration: 0.75s;

}
.mini-photo:hover{
    opacity: 1;
   height: 12%;
    transform:scale(2);
    -webkit-transform:scale(2);
    position:relative;
    z-index: 100;

}
@media (max-width: 1200px) {
    .img-responsive {
        width: 80%;
    }
    .slider-item {
        padding-top: 11%;
        padding-bottom: 11%;
    }
    .prevBtn {
        left: 3%;
        top: 38%;
    }
    .nextBtn {
        right: 3%;
        top: 38%;
    }

    .slider-item-mini {

        padding-top: 8%;

    }
}
@media (max-width: 992px) {
    .mini-photo {
        height: 5%;
        width:15%
    }

    .mini-photo:hover{
        height: 11%;

    }

}


@media (max-width: 768px) {
    .img-responsive {
        width: 90%;
    }
    .prevBtn {
        left: 7%;
        top: 38%;
        width: 7%;
    }
    .nextBtn {
        right: 7%;
        top: 38%;
        width: 7%;
    }
    .mini-photo {
        width:13%
    }

}
@media (max-width: 480px){
    .div-container-slider{
        height: 70vh;
        padding-top: 1em;

    }
    .img-responsive {
        width:95%;
    }
.slider-item-mini {
    display: none;
}
.prevBtn, .nextBtn{
    top: 52%;
    width: 70px;
    }
}


