.offers {
    background-color: white;
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 98;
    height: 1300px;
}

.container1, .container2 {
    float: left;
    width: 48%;
    padding-top: 3%;
    color: black;
    margin-left: 1%;
}

.container2 {
    margin-right: 1%;
}

.offer-title {
    font-size: 4em;
    text-align: right;
    float: right;
    width: 100%;
    padding-top: 1em;
}

.offer-title span {
    font-size: 2em;
}

.offer-text, .offer-text2 {
    font-size: 2em;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    padding-top: 1em;
    padding-left: 10px;
    text-align: right;
}

.offer-text2 {
    text-align: left;
}

@media (max-width: 1200px) {
    .container1, .container2 {
        padding-top: 5%;
    }
    .offer-title {
        font-size: 2em;
        padding-top: 1.5em;
    }
    .offer-text, .offer-text2 {
        font-size: 1.75em;
    }
}

@media (max-width: 992px) {
    .offers {
        height: 860px;
    }
    .offer-title {
        font-size: 1.75em;
        padding-top: 1.25em;
    }
    .offer-text, .offer-text2 {
        font-size: 1.35em;
    }
}

@media (max-width: 768px) and  (orientation: landscape) {


}

@media (max-width: 480px) {

}

