.main-container-zapisz-sie {
                                                                   height: 20%;
                                                                   text-align: center;
                                                                   padding: 7% 3% 4% 3%;
                                                                   position: relative;

                                                               }

.content-container-form {
    border: 20px solid black;
    height: 760px;
    margin-bottom: 5%;
}

.content-container-form p:nth-child(1) {
    font-size: 7em;
    text-transform: uppercase;
    padding-top: 3%;
}

.content-container-form p:nth-child(2) {
    font-size: 3.5em;
    text-transform: uppercase;

}

.form-input, .button-send {
    font-size: 2em;
    width: 30%;
    height: 40px;
    text-align: center;
    border: none;
    background-color: #ffffff;
    color:#000000;

}

.button-send {
    position: relative;
    color: #14C8FF;
    margin-top: 0.5%;
    background-color: #000000;
    text-transform: uppercase;
}

.button-send:hover {
    color: #000000;
    background-color: #ffffff;
}

.content-container-form p:nth-child(3) {
    font-size: 0.5em;
    margin-top: 1%;
    padding-bottom: 5%;
}


video#bgvid2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;

}
@media (max-width: 1200px) {


    .content-container-form p:nth-child(1) {
        font-size: 5em;
        margin-top: 1em;
    }
    .content-container-form p:nth-child(2) {
        font-size: 2.5em
    }
    .form-input, .button-send {
        font-size: 1.5em;
        width: 50%;
    }
    .form-input{
        margin-top: 2em;
    }
    video#bgvid2 {
        height: 700px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    .content-container-form p:nth-child(1) {
        font-size: 4em;

    }
    .content-container-form p:nth-child(2) {
        font-size: 2em
    }
    .form-input, .button-send {
        font-size: 1.5em;
        width: 70%;
    }
    .form-input{
        margin-top: 3em;
    }
    .button-send{
        margin-top: 0.5em;
    }
    video#bgvid2 {
        height: 700px;
        max-width: 768px;
    }
}

@media (max-width: 480px) {

}
/*@media (max-width: 480px){*/
/*.main-container-zapisz-sie{*/
/*height: 100vh;*/

/*}*/
/*.content-container-form{*/
/*padding: 1em;*/
/*}*/
/*.span-p2-style{*/
/*font-size: 1em;*/

/*}*/
/*.span-p3-style{*/
/*font-size: 0.5em;*/
/*}*/
/*.form-input{*/
/*font-size: 0.5em;*/
/*width: 50vw;*/
/*}*/
/*.button-send{*/
/*width: 50vw;*/
/*}*/
/*.style-paragraph-p-last{*/
/*font-size: 0.3em;*/

/*}*/
/*video#bgvid2{*/
/*padding-top: 0.5em;*/
/*}*/
/*}*/



@media screen and (orientation:portrait) { … }
@media screen and (orientation:landscape) { … }


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }