.offer {
    background-color: white;
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 98;
    height: 1300px;
}

.container1, .container2 {
    float: left;
    width: 48%;
    padding-top: 3%;
    color: black;
    margin-left: 1%;
}

.container2 {
    margin-right: 1%;
}

.offer-title {
    font-size: 4em;
    text-align: right;
    float: right;
    width: 100%;
    padding-top: 1em;
}

.offer-title span {
    font-size: 2em;
}

.offer-text, .offer-text2 {
    font-size: 2em;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    padding-top: 1em;
    padding-left: 10px;
    text-align: right;
}

.offer-text2 {
    text-align: left;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    #offer {
        margin-top: 40px;

    }

    .oferta-marginesy {
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 650px;
        display: flex;
        flex-direction: column;

    }

    .container1, .container2 {
        width: 100%;
        padding-top: 40px;

    }

    .offer-title {
        font-size: 1em;
        padding-top: 2em;
        padding-right: 1em;
    }

    .offer-text {

        padding: 2em 1em 1em 1em;
    }

    .offer-text2 {
        padding: 2em 1em 1em 1em;
        text-align: right;
    }

}

@media (max-width: 480px) {
    #offer {
        margin-top: 30px;

    }

    .oferta-marginesy {
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 650px;
        display: flex;
        flex-direction: column;

    }

    .container1, .container2 {
        width: 100%;
        padding-top: 20px;

    }

    .offer-title {
        font-size: 1em;
        padding-top: 2em;
        padding-right: 1em;
    }

    .offer-text {

        padding: 2em 1em 1em 1em;
    }

    .offer-text2 {
        padding: 2em 1em 1em 1em;
        text-align: right;
    }
}

