.o-nas-container {
    position: relative;
    text-align: center;
    height: 1080px;
    z-index: 98;


}
.about-us-set
{
    width: 25%;
    float: left;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2em;


}
.p-author-name {
    font-size: 2em;
    margin-top: -20px;

}

.p-author-slogan {
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 0.9em
}

.o-nas-container span{
    font-size: 8em;
}

@media (max-width: 1200px) {
    .o-nas-container {
        height: 760px;
    }
    .about-us-set {
        padding-top: 17%;
        font-size: 1.5em;
    }
    .p-author-name {
        font-size: 1.75em;
    }
    .p-author-slogan {
        font-size: 0.8em;
        padding-top: 8%;
    }
}
@media (max-width: 992px) {

}


@media (max-width: 768px) {
    .about-us-set {
        font-size: 1.25em;
    }
    .p-author-name {
        font-size: 1.5em;
    }

}
@media (max-width: 480px){
    .about-us-set{
        width: 48%;
    }
}