.nav {
    font-family: 'euro35', sans-serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    margin: 0;
    z-index: 99;

}

.menu {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 70%;
}

ol a {
    color: black;
    text-decoration: none;
    /*position: relative;*/
}

ol > li {
    float: left;
    width: 20%;
    height: 30px;

}

ol > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.highlight {
    background-color: rgba(20, 200, 255, 0.8);
}

ol > li:hover > a {
    color: black;
}

footer {
    background: url("../images/footer-background.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;

}
footer > a {
    display: inline-block;
    float: left;
    padding: 1%;
    /*width: 10%;*/
    z-index: 98;
    color:#000000;
    font-size: 2.5em;
}
footer > a:nth-child(1){
    margin-left:80%;
}
footer > a:hover {
    background-color: rgba(20, 200, 255, 0.8);

}
footer p {

}
@media (max-width: 1200px) {
ol >li {
    width: 17%;
}
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    ol > li {
        width: 20%;

    }
}

    @media (max-width: 480px) {

        ol > li {
            float: left;
            width: 25%;
            height: 30px;
            display: block;
        }

        ol li:nth-child(1) {
            display: none;
        }

        footer {
            height: 10vh;
        }

        .teil {
            font-size: 1.5em;
        }
    }

