#game {
display: none;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-game-box {
    display: flex;
    padding: 50px;
    background-color: aqua;
    height: 50%;
    width: 100%;

}
.wynik {
    background-color: yellow;
    width: 100%;
    height: 20%;
}

.button {

    width: 100%;
    height: 20%;
    background-color: green;

}

.item-game-1 {
    background-image: url(images/game-obrazek.jpg);
    background-repeat: repeat-y;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin-right: 1px;

}

.item-game-2 {
    background-image: url(images/game-obrazek.jpg);
    background-repeat: repeat-y;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin-right: 1px;

}

.item-game-3 {
    background-image: url(images/game-obrazek.jpg);
    background-repeat: repeat-y;
    width: 200px;
    height: 100px;
    border: 2px solid black;

}


/*

.black-jack {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black-jack-middle {
    width: 50%;
    height: 50%;
    !*position: relative;*!
    background-color: red;
    !*left: 30%;
    top: 30%;*!
    display: flex;
    max-width: 50%;

}
.black-jack-box {
    width: 200px;
    height: 200px;
    background-color: yellow;
    float: left;
    border-bottom-color: red;
    display: inline-block;
    position: relative;
    top: 25%;
    !*left: 30%;*!
    margin-left: auto;
    margin-right: auto;
}
*/

