#offer
{
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.clear {
    clear: both;
}

.container1, .container2, .container3 {
    float: left;
    width: 50%;
    /*background-repeat: no-repeat;
    background-position: center;*/
    padding-top: 10px;
    /*padding-left: 5%;*/
    /*padding-right:*/
    height: 100%;
    position: relative;
    color: black;
    /*margin-right: 5px;*/
    /*background-color: aqua;*/


}
.container2 {
   /* width: 50%;*/
    height: 50%;
    /*background-color: yellow;*/

}
.container3 {
    /*width: 50%*/;
    height: 50%;
    /*background-color: red;*/
}

.oferta-marginesy{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 20px;
    height: 100vh;

}
.oferta-tytul-boxa {
    text-align: center;
    font-size: 5em;

}
.oferta-zdjecia {
    width: 100%
}
.oferta-slash2 {
    font-size: 20em;
    float: left;
    width: 30%;
    font-weight: 800;
    text-align: right;
   /* padding-left: 10%;*/
    /*background-color:*/

}
.offer-title {
    font-size: 60px;
    text-align: right;
    float: left;
    width: 60%;
    font-weight: 800;
    padding-top: 0.5em;
    /*padding-right: 1px*/;
    /*background-color:*/
    /*background-color:*/



}
.offer-text {
    /*font-size: 3em;*/
    font-size: 30px;;
    padding-top: 7em;
    padding-left: 10px;


}
/*.slash2 {
    font-size: 300px;
    font-weight: 800;
    text-align: left;*/
}