.clear {
    clear: both;
}

#oferta {
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 15px;

}

.kontenerek1, .kontenerek2, .kontenerek3 {
    float: left;
    width: 30%;
    background-color: yellow;
    margin-left: 20px;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.kontenerek2 {
    background-color: red;
}
.kontenerek3 {
    background-color: aqua;
}

.oferta-marginesy{
    margin-left: auto;
    margin-right: auto;
    height: 100vh;

}
.oferta-tytul-boxa {
    font-family: "Arial";
    font-size: large;
    text-align: center;

}
.oferta-zdjecia {

    width: 100%

}