body
{
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    margin: 0;
}

main
{
    width: 100%;
    padding: 0;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;

}

nav
{
    position: fixed;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    text-align: center;
    margin: 0;
    height: 30px;
    z-index: 100;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    height: 30px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: black;
    /*text-decoration: none;*/
    position: relative;
    padding: 5px 25px;

}

ol > li
{
    float: left;
    width: 240px;
    height: 30px;
    display: block;
    /*border-right: 2px solid black;*/
}

ol > li:hover
{
  background-color: red;

}
ol > li:hover >a
{
    color: white;
}

.nawigacja
{
    text-align: center;
    display: block;
    /*padding-top: 15px;*/
    width: 200px;
    height: 30px;
    background-color: transparent;
    float: none;
    position: relative;
    z-index: 100;
    margin: auto;
    padding-top: 90vh;

}
.nawigacja1
{
    text-align: center;
    display: block;
    /*padding-top: 15px;*/
    width: 200px;
    height: 30px;
    background-color: transparent;
    float: none;
    position: relative;
    z-index: 100;
    margin: auto;
    padding-top: 0;

}

.guzik
{
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 60px;
    position: relative;
}

footer
{
    position: relative;
    top: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    height: 35px;


}


.teil
{
    display: block;
    float: left;
    border-right: dotted 2px white;
    min-width: 280px;
    text-align: center;
    padding-top: 20px;

}