@font-face {
  font-family: euro35;
  src: url(eurof35.ttf);
}

@font-face {
  font-family: euro55;
  src: url(eurof55.ttf);
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  z-index: 100;
}

.event-calendar-title {
  font-family: euro35, sans-serif;
  text-align: center;
  color: white;
}

.event-calendar-title h1 {
  font-size: 6em;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  font-weight: 400;
  margin-top: 15%;
}

.event-calendar-title hr {
  width: 75%
}

.logo-white {
  font-family: 'Sansita One', cursive;
  color: white;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}