.zapisz
{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    text-align:center;
    color:white;
    font-size: 25px;
    padding-top:50px;
    display:flex;
    }
.zapisz p
{
    padding: 25px;
}
.zapisz p:first-letter{
    text-transform: uppercase;
    font-size: 30px;
    color:gold;
}
.p-reg{
    font-size: 10px;
    text-decoration: blink;
    }
input{
    font-size: 18px;
    color: black;
    padding: 1px;
    width: 350px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    border:none;
    margin-top:10px;
    margin-bottom:10px;
    }
input:hover{
    color:gold;
    background-color: white;
    opacity: 1;

}
span {
    color: gold;
}
span a{
    text-decoration: none;
    color:gold;

}
form{
    background-color: black;
    opacity: 0.5;
}
.zapisz-center {
    text-align: center;
    align-self: center;
    align-content: center;
}


