#oferta {
    width: 1200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    padding-top: 15px;
}
.calendar-padding{
    padding-left: 300px;
    padding-right: 300px;
    margin-left: auto;
    margin-right: auto;
}