.zajawka
{
    /*background-image: url(images/tlo.bmp);*/
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    background-repeat: no-repeat;
}
.logo
{
    display: block;
    color: white;
    min-height: 80px;
    font-size: 60px;
    padding-right: 300px;
    padding-left: 300px;
    text-align: center;
    text-align-all: center;
}