body
{
    background-color: #F0F8FF;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;

}


a.knopf
{
    background-color: blue;
    color: gold;
    transition: background-color 3s;
    font-size: 32px;
}

a.knopf:hover
{

    background-color: #CC0066;
}

a.pad
{
    display:block;
    /* margin-top: 400px; */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px 100px 100px 100px;
    background-color: #8EB4E6;
    float: none;
    text-align: center;
    opacity: 0.85;
    position: relative;

}