.main-container-zapisz-sie {
    background: url('images/Afala.png') no-repeat;
    background-size: 100%;
    background-position: 5px 360px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    font-weight: 800;

}

.content-container-form {
    text-align: center;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid black;
    width: 70vw;
    padding: 50px;
    position: relative;
    top: 0px;
}

.container-styles-paragraph-p-main {
    width: 30vw;
    height: 30vh;
    margin-right: auto;
    margin-left: auto;

}

.span-p1-style {
    float: left;
    color: black;
    font-size: 155px;
    display: inline-block;

}

.span-p2-style {
    font-size: 70px;
    font-weight: bold;
    display: block;
    line-height: 135%;
    width: 100%;
}

.span-p3-style {
    color: black;
    font-size: 27px;
    display: block;

}

input {
    font-size: 18px;
    width: 30vw;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

::-webkit-input-placeholder {
    color: black;
}

.button-send {
    font-size: 18px;
    color: gold;
    width: 30vw;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
}

.button-send:hover {
    color: black;
    background-color: white;
}

.style-paragraph-p-last {
    font-size: 10px;

}

span a {
    text-decoration: none;
    color: gold;
}

@media (min-width: 1080px) and (max-width: 1366px) {
    .span-p1-style {
        font-size: 120px;
    }
}

@media (min-width: 1080px) and (max-width: 1366px) {
        .span-p2-style {
            font-size: 50px;
        }
    }
@media (min-width: 1080px) and (max-width: 1366px) {
        .span-p3-style {
            font-size: 22px;
        }
    }





